.cartCount {
    padding: 2px;
    border: 1px solid white;
    background-color: coral;
    position: relative;

    right: 20px;
    bottom: 5px;
    text-align: center;
    height: 7px;
    font-weight: 400;
    width: 12px;
    border-radius: 7px;

}