<div class="container">
    <div class="row">
        <form>
        <div class="mb-3">
            <label for="uname" class="form-label">Mobile number</label>
            <input type="text" class="form-control" id="uname" aria-describedby="emailHelp">
          </div>
          <label for="nmber" class="form-label">Mobile number</label>
          <div class="input-group mb-3">
              <input type="text" class="form-control" id="nmber" placeholder="" aria-label="Recipient's username">
              <span class="input-group-text" id="basic-addon2"><a class="p-1 noDecoration">Get OTP</a></span>
            </div>

            <label for="nmber" class="form-label">OTP</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="nmber" placeholder="" aria-label="Recipient's username">
                <span class="input-group-text" id="basic-addon2"><a class="p-1 noDecoration">Verify OTP</a></span>
              </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>
