<!-- Category section -->
<div class="container py-4 shadow-sm me-auto mt-1 ">
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid ms-5">              
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100  d-flex justify-content-around ">
                  <li class="nav-item ">
                    <a class="nav-link-active " area-current="page" href=""> 
                    <img class=" m-auto" src="../../../assets/images/talk-to-doctor.jpeg" height="75" width="75" alt="">
                    </a>
                    <h6 class="m-2">talk to Doctor</h6>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/medicines">
                        <img class=" m-auto" src="../../../assets/images/medicine.jpeg" height="75" width="75" alt="">
                    </a>
                    <h6 class="">Medicine</h6>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img class=" m-auto"src="../../../assets/images/sergery.jpeg"height="75" width="75" alt="">
                    </a>
                    <h6>Surgery</h6>

                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img class=" m-auto" src="../../../assets/images/insurance.jpeg" height="75" width="75" alt="">
                    </a>
                    <h6>Insurance</h6>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img class=" m-auto" src="../../../assets/images/lab-test.jpeg" height="75" width="75" alt="">
                    </a>
                    <h6>Lab test packages</h6>
                  </li>

                  
                  
                </ul>
                
              </div>
            </div>
          </nav>
    </div>
</div>

<!-- Consert -->

<div class="container  py-2 mt-3 me-auto mt-1 w-75 border shadow rounded-pill">
    <div class="row text-center">
    <div class="col-md-6">
        <h3>        Consult with Top Doctors Online, 24x7</h3>
    </div>
    <div class="col-md-4 py-2 border rounded-pill">
        <h6 class="text-primary  ">Start Consultation <i class="bi bi-arrow-right"></i></h6>
    </div>
    </div>
</div>

<!-- carousel -->
<div class="container mt-1 py-4">
    <div class="row">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://www.medibuddy.in/assets/gold-home.webp" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://www.medibuddy.in/assets/singleConsult.webp" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://www.medibuddy.in/assets/labs-home.webp" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://www.medibuddy.in/assets/medicine-home.webp" class="d-block w-100" alt="...">
              </div>
            </div>
            
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>

</div>

<!--  -->
<div class="container mt-1 py-4">
    <div class="row">
        <img src="https://www.medibuddy.in/assets/ABHA.svg" alt="">

    </div>
</div>

<!-- App link -->

<div class="container mt-1 py-4">
    <div class="row">
        <div class="col-md-6 ">
            <div class="m-b-20 p-2  ">
                <h5 class="m-2  heading-color bold ">Watch Amitabh Bachchan emphasize the importance of Unlimited Expert Doctor Consultations online for the entire family.</h5>
            </div>
            <div class="app-home" >
            </div>
            <div class="text-center" style="margin-bottom: 4vh;">
                <div class="py-4">
                   <h5> Download the App </h5>
                    <a href="">
                        <img src="../../../assets/images/google-play-store.jpeg" height="60" alt="">
                    </a>
               
                </div>
            </div>
            
                
            

        </div>

        <div class="col-md-6 border">

        </div>
      </div>
</div>

<!-- section -->
<div class="container mt-1 py-4 border ">
    <div class="row m-2 ">
        <div class="col-md-4 border">
            <div>
                <a  style="color: blue; font-size: 30px;">Medi</a><a style="color: red; font-size: 30px;" >Lab</a><a class="ms-2" style="color: rgb(252, 232, 121); font-size: 35px;">GOLD</a>
            </div>
            <div class=" col-md-9 m-2 ">
               <h3> Give the care your family deserves</h3>
            </div>
            <div class="m-2 py-2"><h5>Unlimited Consultations with top Doctors for 6 family members in 18+ specialities
            </h5></div>
            <div>
                <button class="btn btn-warning btn-lg mt-2 px-5"><h3>Buy MediLab Gold  <i class="bi bi-arrow-right  "></i></h3></button>
            </div>
        </div>
        <div class="col-md-8 ">
            <div class="row  ">
              <div class=" col-md-6   ">
                <div class="card shadow ms-4 " style="width:  16rem; height: 120; ">
                    <img class="card-img-top" width="auto" src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title">Unlimited Free Consultations</h4>
                      <p class="card-text">Get unlimited free consultations with all doctors 24x7
                    </p>
                    </div>
                  </div></div>
                  
                  <div class="card shadow ms-4" style="width:  16rem; height: 120; ">
                    <img class="card-img-top" src="https://www.medibuddy.in/assets/services/mb-gold/family.svg" height="120px" width="20px" alt="...">
                    <div class="card-body">
                      <h4 class="card-title">Unlimited Free Consultations</h4>
                      <p class="card-text">Get unlimited free consultations with all doctors 24x7
                    </p>
                    </div>
                  </div>
                  <div class="row mt-4 m-auto">
                  <div class="card   ms-4 py-2 rounded-pill" style="width:  16rem; height: 120;">
                    <img class="card-img-top" src="../../../assets/images/consult.jpeg" height="120px" width="20px" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title">Unlimited Free Consultations</h4>
                      <p class="card-text text-center">Get unlimited free consultations with all doctors 24x7
                    </p>
                    </div></div>
                  </div>

                  <div class="card shadow ms-4 py-2" style="width:  16rem; height: 120;">
                    <img class="card-img-top" src="../../../assets/images/consult.jpeg" height="120px" width="20px" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title">Unlimited Free Consultations</h4>
                      <p class="card-text">Get unlimited free consultations with all doctors 24x7
                    </p>
                    </div>
                  </div>
            </div>

        </div>

    </div>
</div>