<div class="container">
    <div class="alert alert-danger" role="alert" *ngIf="!isVerifyOtp && signUpForm.valid">
        Mobile Verification ia Mandatory
      </div>
    <div class="row">
        <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <div class="mb-3">
              <label for="uname" class="form-label">User Name</label>
              <input type="text" class="form-control" id="uname" aria-describedby="emailHelp" formControlName="userName" >
            </div>
            <label for="nmber" class="form-label">Mobile number</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" id="nmber" placeholder="" aria-label="Recipient's username" formControlName="mobileNumber">
                <span class="input-group-text" id="basic-addon2" *ngIf="!isVerifyOtp"><a class="p-1 noDecoration" (click)="getOtp()">Get OTP</a></span>
                <span class="input-group-text" *ngIf="isVerifyOtp" ><i class="bi bi-check-circle bg-pimary" ></i></span>
              </div>
              <div *ngIf="isGetOtp">
              <label for="otp" class="form-label">OTP</label>
              <div class="input-group mb-3">
                  <input type="text" class="form-control" id="otp" placeholder="" aria-label="Recipient's username" #otp>
                  <span class="input-group-text" id="basic-addon2"><a class="p-1 noDecoration" (click)="verifyOtp(otp.value)" >Verify OTP</a></span>
                </div>
                <div>Otp is valid {{otpTimer}}</div>
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
            </div>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1"  formControlName="isMobileNo">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" [disabled]="!(signUpForm.valid  && isVerifyOtp) " class="btn btn-primary">Submit</button>""
          </form>

    </div>

</div>