<div class="container">
    <div class="alert alert-danger" role="alert" *ngIf="!isVerifyOtp && signUpForm.valid">
     Mobile Verification is mandatory
      </div>
      <div class="alert alert-success" role="alert" *ngIf="isSignUpSuccess">
        Register Successfully,Please proceed with the login
      </div>
    <div class="row">
        <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
            <div class="mb-3">
                <label for="username" class="form-label">User Name</label>
                <input formControlName="userName" name="username" type="text" class="form-control" id="username" aria-describedby="mnumber">
            </div>
            <label for="mnumber" class="form-label">Mobile number</label>
            <div class="input-group mb-3">
                <input  formControlName="mobileNumber" name="mobileNumber" type="text" class="form-control" aria-label="Recipient's username"
                    aria-describedby="basic-addon2">
                <span class="input-group-text bg-body" *ngIf="!isVerifyOtp" id="basic-addon2"><a class="p-1 noDecoration" (click)="getOtp()">Get Otp</a></span>
                <span class="input-group-text bg-body" *ngIf="isVerifyOtp"><i class="bi bi-check-circle-fill text-primary"></i></span>
            </div>
            <div *ngIf="isGetOtp">
                <label for="mnumber" class="form-label">Otp</label>
                <div class="input-group mb-3">
                    <input type="text" name="otp" class="form-control" #otp>
                    <span class="input-group-text bg-body" id="basic-addon2"><a class="p-1 noDecoration cursor" (click)="verifyOtp(otp.value)">Verify Otp</a></span>
                </div>
                <div>Otp is Valid for :&nbsp;{{otpTimer}}</div>
            </div>
           

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input formControlName="password" name="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" name="" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit" [disabled]="!(signUpForm.valid && isVerifyOtp && !isSignUpSuccess)">Sign Up</button>
                <!-- <button class="btn btn-primary" type="button">Button</button> -->
              </div>
        </form>

    </div>
</div>