<div class="row py-5 text-center bg-primary text-light mt-1">
  <div class="col ">
    <h3 class="f-w-400 ">Get Huge Savings on Medicines</h3>
    <div class="d-flex justify-content-center bd-highlight mb-1">
      <div class="p-2 bd-highlight"><i class="bi bi-check-circle-fill me-2"></i>100% Genuine Medicines</div>
      <div class="p-2 bd-highlight"><i class="bi bi-check-circle-fill me-2"></i>Trusted Pharacies</div>
      <div class="p-2 bd-highlight"><i class="bi bi-check-circle-fill me-2"></i>Delivery to your doorstep</div>
      <div class="p-2 bd-highlight"><i class="bi bi-check-circle-fill me-2"></i>Store Pick up</div>
    </div>
  </div>
</div>

<div class="row  w-50  m-auto text-center shadow  rounded-5 searchBox">
  <div class="input-group flex-nowrap py-4">
    <span class="input-group-text  bg-body" id="addon-wrapping"  >pune&nbsp; 423603&nbsp;&nbsp;<span
        data-bs-toggle="modal" data-bs-target="#pinCode"><i class="bi bi-chevron-down text-primary cursor"></i></span></span>
        <!-- <span *ngIf="!isPinCodeAvailable" >Select location</span> -->
    <input type="text" class="form-control  " placeholder="Search Medicines" aria-label="Username"
      aria-describedby="addon-wrapping">
    <span class="input-group-text bg-light text-primary bg-body" id="addon-wrapping"><i
        class="bi bi-search me-2"></i>Search</span>
  </div>
</div>

<!-- pincode model -->

<div class="modal fade" id="pinCode" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Set your location</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close #closebtn"></button>
      </div>
      <div class="modal-body">
        <div class="input-group">
        <input type="text" class="form-control" name="pincode" id="id1" minlength="6" maxlength="6"
         [(ngModel)]="pincode" (ngModelChange)="getPackageDetailsByPincode()"  >
        <span class="input-group-text bg-body" *ngIf="isPinCodeAvailable"><i class="bi bi-check-circle-fill text-success"></i></span>
        <div id="validationServer03Feedback" class="invalid-feedback d-block" *ngIf="!isPinCodeAvailable">
          No provides available for Pincode.
        </div>
    
      </div>
    </div>
    <div class="d-grid gap-2 mx-2 my-2">
      <button class="btn btn-primary" type="button" [disabled]="isPinCodeAvailable" >Submit</button>
    </div>
  </div>
</div>
</div>


<!-- Image  -->
<div class="container w-100 mt-3">
  <img src="https://www.medibuddy.in/assets/banners/medicine-page.webp" alt="">
</div>

<app-top-deal></app-top-deal>

<!-- Prescripstion -->
<div class="container w-100 mt-3">
  <div class="row col-6 border">

  </div>

</div>